<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />

    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/48067674f6.js"
      crossorigin="anonymous"
    ></script>

    <title>{% block title %}techprowl{% endblock %}</title>
  </head>

  <body>
    <header style="margin-top: 100px">
      {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="mt-4">
      <div class="blue-background text-center py-3 text-white">
        2021 techprowl &copy;
      </div>
    </footer>

    <!--Bootstrap Core Javascript-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script