<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create Group</title>
</head>
<body>
    <h1>Create a New Group</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>