{% extends 'base.html' %}

{% block content %}
<div class="main">
  <div class="container jumbotron mt-4 pt-3 pb-3">
    <div class="row align-items-center">
      <div class="col-md-8 text-center text-md-left">
        <h1 class="responsive-heading">Manage Groups</h1>
        <p>View and manage all groups in the system.</p>
      </div>

      <div class="col-md-4">
        <img class="img-fluid" src="{{url_for('static', filename='img/managegroups.svg')}}">
      </div>
    </div>
  </div>
  
  <div class="container">
    
    <!-- Show Message when user performs actions -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row mt-3 mb-3">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}
    
    <div class="row mt-2">
      <div class="col-md-12">
        <a href="{{ url_for('admin.create_group') }}" class="btn btn-primary mb-3">Create New Group</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Code</th>
              <th>Number of Users</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr>
              <td>{{ group.id }}</td>
              <td>{{ group.name }}</td>
              <td>{{ group.code }}</td>
              <td>{{ group.users|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}