{% extends 'base.html' %}
{% block content %}
<div class="main">
  <div class="container jumbotron mt-4 pt-3 pb-3">
    <div class="row align-items-center">
      <div class="col-md-8 text-center text-md-left">
        <h1 class="responsive-heading">Event Details</h1>
        <p>Details for the selected event.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 mb-3">
        <img class="img-fluid" src="{{ url_for('static', filename=event.proof_image) }}" alt="Proof Image">
      </div>
      <div class="col-md-12 col-lg-6">
        <h3>Boss: {{ event.boss.name }}</h3>
        <p>Date: {{ event.datetime.strftime('%Y-%m-%d %H:%M') }}</p>

        <h4>Items</h4>
        <ul>
          {% for item in event.items %}
          <li>{{ item.name }}</li>
          {% endfor %}
        </ul>

        <h4>Joining Users</h4>
        <ul>
          {% for user in event.users %}
          <li>{{ user.username }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}